[Unit]
Description=JMR Backend Service
After=network.target

[Service]
User=whx
WorkingDirectory=/home/whx/文档/code/github/JMR/backend
ExecStart=/usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 50001
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target 